.container {
    display: flex;
    border-bottom: 4px solid #00008B;
    position: relative;
    /* fixed - in case we want accordion outside of parent component */
}

.frame {
    margin-bottom: 40px;
}

.inner {
    display: flex;
    padding: 70px 45px;
    flex-direction: column;
    max-width: 815px;
    margin: auto;
}

.title {
    font-size: 40px;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 8px;
    color: #00008B;
    text-align: center;
}

.item {
    color: white;
    margin: auto;
    margin-bottom: 10px;
    max-width: 728px;
    width: 100%;
}

.item &:first-of-type {
    margin-top: 3em;
}

.item &:last-of-type {
    margin-bottom: 0;
}

.header {
    display: flex;
    flex-direction: space-between;
    cursor: pointer;
    margin-bottom: 1px;
    font-weight: normal;
    background: #4444FF;
    padding: 0.8em 1.2em 0.8em 1.2em;
    user-select: none;
    align-items: center;
}

.header>img {
    filter: brightness(0) invert(1);
    width: 24px;
    user-select: none;

    @media (max-width: 600px) {
        width: 16px;
    }
}

.body {
    font-weight: normal;
    background: #7272FF;
    white-space: pre-wrap;
    user-select: none;
    overflow: hidden;
}

.body>span {
    display: block;
    padding: 0.8em 2.2em 0.8em 1.2em;
}

.open {
    max-height: 0px;
    transition: max-height 0.25ms cubic-bezier(0.5, 0, 0.1, 1);
}

.closed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25ms cubic-bezier(0.5, 0, 0.1, 1);
}